flows_raspberrypi.json
[{"id":"6e563579.1eefcc","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"e4e151771001cb20","type":"tab","label":"example+LINE","disabled":false,"info":""},{"id":"b97f5c07.26335","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"LINE","tz":"","charset":"UTF8"},{"id":"4c025988af4743b6","type":"linetoken","name":"習慣づくり用"},{"id":"ff4ce1d494490be4","type":"inject","z":"e4e151771001cb20","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":660,"wires":[["e88c5a7aa90fe66a"]]},{"id":"edc5824cfabcafbe","type":"function","z":"e4e151771001cb20","name":"","func":"const date = new Date();\nconst hour = date.getHours();\nconst minutes = date.getMinutes();\n\nmsg.send = 0;\n\nmsg.payload = \"待機時間\";\nif(msg.flag[0] == 0 && hour >= 20){\n    msg.flag[0] = 1;\n    msg.payload = \"勉強の時間です\";\n    msg.send = 1;\n}else if(msg.flag[1] == 0 && hour >=23){\n    msg.flag[1] = 1;\n    msg.payload = \"プログラムの時間です\";\n    msg.send = 1;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":660,"wires":[["5eefb94ff36d449f","7a679c5b4eb34d43"]]},{"id":"5eefb94ff36d449f","type":"switch","z":"e4e151771001cb20","name":"","property":"send","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":860,"wires":[["df8a1a7986e1f6cd"],["72feb0a22c4f4925"]]},{"id":"e88c5a7aa90fe66a","type":"function","z":"e4e151771001cb20","name":"","func":"msg.flag1 = 0;\nmsg.flag2 = 0;\nmsg.flag = new Array(2);\nmsg.flag = [0,0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":660,"wires":[["edc5824cfabcafbe"]]},{"id":"874904b578b99676","type":"delay","z":"e4e151771001cb20","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1140,"y":760,"wires":[["edc5824cfabcafbe"]]},{"id":"72feb0a22c4f4925","type":"delay","z":"e4e151771001cb20","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":940,"y":880,"wires":[["edc5824cfabcafbe"]]},{"id":"7a679c5b4eb34d43","type":"debug","z":"e4e151771001cb20","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":580,"wires":[]},{"id":"78b1e7eed92ef0f2","type":"line-notify","z":"e4e151771001cb20","name":"","message":"","contentType":"message","imageThumbnail":"","imageUrl":"","sticker":"default","stickerPackageId":"1","stickerId":"1","silent":false,"creds":"4c025988af4743b6","x":880,"y":400,"wires":[[]]},{"id":"df8a1a7986e1f6cd","type":"node-line-notify","z":"e4e151771001cb20","name":"Can I use it?","message":"※多分使わない","useExternalData":true,"useImageUrl":false,"imageFullsizeUrl":"","imageThumbnailUrl":"","useImageFile":false,"imageFile":"","useSticker":false,"lineStickerPackageId":1,"lineStickerId":1,"disabledPushNotification":false,"hasToken":true,"x":990,"y":760,"wires":[["874904b578b99676"]]},{"id":"f311356f69529985","type":"inject","z":"e4e151771001cb20","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":420,"wires":[["e8db8b9d4eb1719d"]]},{"id":"e8db8b9d4eb1719d","type":"function","z":"e4e151771001cb20","name":"","func":"msg.payload = \"勉強の時間です\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":420,"wires":[[]]},{"id":"1f76d73498913972","type":"comment","z":"e4e151771001cb20","name":"↓いらない","info":"","x":570,"y":620,"wires":[]},{"id":"d0212fd9c088a7d1","type":"mysql","z":"e4e151771001cb20","mydb":"b97f5c07.26335","name":"","x":730,"y":480,"wires":[[]]}]